In [1]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [89]:
#lets first connect to the web driver
driver=webdriver.Chrome(r"C://chromedriver.exe")

In [90]:
driver.get('https://www.olx.in/')

url='https://www.olx.in/items/q-cars?isSearchCall=true'

#lets open the webpage through web driver
driver.get(url)

In [91]:
price=[]
km=[]
model=[]
location=[]
date=[]

In [92]:
cost=driver.find_elements_by_xpath("//span[@class='_89yzn']")
for i in cost:
    title5=i.text
    price.append(title5)
price[0:4]

['₹ 1,66,467', '₹ 5,45,577', '₹ 2,60,000', '₹ 4,49,000']

In [93]:
kms=driver.find_elements_by_xpath("//span[@class='_2TVI3']")
for i in kms:
    title=i.text
    km.append(title)
km[0:4]

['2010 - 59,298 km',
 '2009 - 54,000 km',
 '2017 - 66,336 km',
 '2017 - 13,750 km']

In [94]:
brand=driver.find_elements_by_xpath("//span[@class='_2tW1I']")
for i in brand:
    title1=i.text
    model.append(title1)
model[0:4]

['Maruti Suzuki Alto 800 LXI, 2010, Petrol',
 'Honda Jazz 1.5 VX i DTEC, 2009',
 'Datsun GO T, 2017, Petrol',
 'Hyundai Grand i10 2017 Petrol 13750 Km Driven']

In [95]:
loc=driver.find_elements_by_xpath("//span[@class='tjgMj']")
for i in loc:
    title2=i.text
    location.append(title2)
location[0:4]

['ROHINI, DELHI',
 'BARAH DEVI CHAURAHA, KANPUR',
 'INFOCITY, AHMEDABAD',
 'NEW PANVEL, NAVI MUMBAI']

In [96]:
print(len(location),len(model),len(price),len(km))

500 497 496 451

In [97]:
olx=pd.DataFrame({})
olx['model']=model[0:451]
olx['location']=location[0:451]
olx['km']=km[0:451]
olx['cost']=price[0:451]

In [98]:
olx

,model,location,km,cost
0,"Maruti Suzuki Alto 800 LXI, 2010, Petrol","ROHINI, DELHI","2010 - 59,298 km","₹ 1,66,467"
1,"Honda Jazz 1.5 VX i DTEC, 2009","BARAH DEVI CHAURAHA, KANPUR","2009 - 54,000 km","₹ 5,45,577"
2,"Datsun GO T, 2017, Petrol","INFOCITY, AHMEDABAD","2017 - 66,336 km","₹ 2,60,000"
3,Hyundai Grand i10 2017 Petrol 13750 Km Driven,"NEW PANVEL, NAVI MUMBAI","2017 - 13,750 km","₹ 4,49,000"
4,Hyundai Elite i20 sportz 2018 Petrol 25000 Km ...,"PASCHIM VIHAR, DELHI","2018 - 25,000 km","₹ 5,90,000"
...,...,...,...,...
446,Wedding vintage car,"AYODHYA NAGAR, BERHMAPUR","2015 - 77,170 km","₹ 7,25,000"
447,Wedding vintage car,"AGRAWAL COLONY, AJMER","2014 - 43,000 km","₹ 7,25,000"
448,Wedding vintage car,"CHANOD COLONY, CHANOD","2014 - 58,000 km","₹ 7,14,000"
449,Wedding vintage car,"BHATTA DEV NAGAR, PATHSALA","2020 - 13,000 km","₹ 7,15,000"
450,Wedding vintage car,"GULISTAN COLONY, FATEHGARH","2014 - 72,000 km","₹ 15,00,000"

In [101]:
olx.to_csv("car11.csv")

In [46]:
#lets first connect to the web driver
driver1=webdriver.Chrome(r"C://chromedriver.exe")

In [47]:
driver1.get('https://www.cars24.com/')

url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001'

#lets open the webpage through web driver
driver1.get(url)

In [48]:
price1=[]
km1=[]
model1=[]
location1=[]
date1=[]

In [49]:
cost=driver1.find_elements_by_xpath("//h3[@class='_6KkG6']")
for i in cost:
    title5=i.text
    price1.append(title5)
price1[0:4]

['₹ 3,89,799', '₹ 4,68,899', '₹ 3,09,499', '₹ 4,52,899']

In [50]:
kms=driver1.find_elements_by_xpath("//div[@class='_Ecri']")
for i in kms:
    title=i.text
    km1.append(title)
km1[0:4]

['23,037kmPetrol2nd Owner',
 '12,848kmPetrol1st Owner',
 '8,501kmPetrol1st Owner',
 '19,994kmPetrol2nd Owner']

In [51]:
brand=driver1.find_elements_by_xpath("//h2[@class='_3ENhq']")
for i in brand:
    title1=i.text
    model1.append(title1)
model1[0:4]

['2015 Honda Brio 1.2 VX AT I VTEC',
 '2017 Maruti Swift VXI',
 '2017 Maruti Alto 800 LXI',
 '2017 Hyundai Grand i10 Sportz(O) 1.2 MT']

In [52]:
loc=driver1.find_elements_by_xpath("//p[@class='_1OR7d']")
for i in loc:
    title2=i.text
    location1.append(title2)
location1[0:4]

['New Delhi']

In [53]:
print(len(model1),len(price1),len(km1))

1329 420 1329

In [54]:
cars24=pd.DataFrame({})
cars24['model']=model1[0:420]
cars24['km']=km1[0:420]
cars24['cost']=price1[0:420]

In [55]:
cars24

,model,km,cost
0,2015 Honda Brio 1.2 VX AT I VTEC,"23,037kmPetrol2nd Owner","₹ 3,89,799"
1,2017 Maruti Swift VXI,"12,848kmPetrol1st Owner","₹ 4,68,899"
2,2017 Maruti Alto 800 LXI,"8,501kmPetrol1st Owner","₹ 3,09,499"
3,2017 Hyundai Grand i10 Sportz(O) 1.2 MT,"19,994kmPetrol2nd Owner","₹ 4,52,899"
4,2015 Maruti Alto K10 LXI,"10,957kmPetrol1st Owner","₹ 3,02,099"
...,...,...,...
415,2014 Maruti Swift VXI,"91,931kmPetrol1st Owner","₹ 3,66,399"
416,2013 Toyota Innova 2.5 GX 7 STR BS IV,"96,015kmDiesel1st Owner","₹ 6,11,599"
417,2017 Ford Ecosport 1.5 TDCI TITANIUM PLUS,"79,368kmDiesel1st Owner","₹ 6,66,299"
418,2010 Honda Jazz 1.2 BASE I VTEC,"1,07,333kmPetrol2nd Owner","₹ 2,35,099"
419,2011 Maruti Ritz VXI BS IV,"1,15,774kmPetrol1st Owner","₹ 2,88,199"

In [57]:
cars24.to_csv("car2.csv")

In [58]:
#lets first connect to the web driver
driver2=webdriver.Chrome(r"C://chromedriver.exe")

In [59]:
driver2.get('https://www.cars24.com/')

url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=134&pinId=201301'

#lets open the webpage through web driver
driver2.get(url)

In [60]:
price1=[]
km1=[]
model1=[]
location1=[]
date1=[]

In [62]:
cost=driver2.find_elements_by_xpath("//h3[@class='_6KkG6']")
for i in cost:
    title5=i.text
    price1.append(title5)
price1[0:4]

['₹ 3,89,799', '₹ 3,09,299', '₹ 4,68,899', '₹ 3,09,499']

In [63]:
kms=driver2.find_elements_by_xpath("//div[@class='_Ecri']")
for i in kms:
    title=i.text
    km1.append(title)
km1[0:4]

['23,037kmPetrol2nd Owner',
 '9,527kmPetrol1st Owner',
 '12,848kmPetrol1st Owner',
 '8,501kmPetrol1st Owner']

In [64]:
brand=driver2.find_elements_by_xpath("//h2[@class='_3ENhq']")
for i in brand:
    title1=i.text
    model1.append(title1)
model1[0:4]

['2015 Honda Brio 1.2 VX AT I VTEC',
 '2017 Maruti Alto 800 LXI',
 '2017 Maruti Swift VXI',
 '2017 Maruti Alto 800 LXI']

In [65]:
loc=driver2.find_elements_by_xpath("//p[@class='_1OR7d']")
for i in loc:
    title2=i.text
    location1.append(title2)
location1[0:4]

['Noida']

In [66]:
print(len(model1),len(price1),len(km1))

1122 1122 1122

In [67]:
cars24_1=pd.DataFrame({})
cars24_1['model']=model1[0:1122]
cars24_1['km']=km1[0:1122]
cars24_1['cost']=price1[0:1122]

In [68]:
cars24_1

,model,km,cost
0,2015 Honda Brio 1.2 VX AT I VTEC,"23,037kmPetrol2nd Owner","₹ 3,89,799"
1,2017 Maruti Alto 800 LXI,"9,527kmPetrol1st Owner","₹ 3,09,299"
2,2017 Maruti Swift VXI,"12,848kmPetrol1st Owner","₹ 4,68,899"
3,2017 Maruti Alto 800 LXI,"8,501kmPetrol1st Owner","₹ 3,09,499"
4,2017 Hyundai Grand i10 Sportz(O) 1.2 MT,"19,994kmPetrol2nd Owner","₹ 4,52,899"
...,...,...,...
1117,2012 Mahindra XUV500 W8 FWD,"59,608kmDiesel1st Owner","₹ 4,15,699"
1118,2018 Mahindra Thar CRDE 4X4 BS IV,"17,188kmDiesel1st Owner","₹ 7,56,799"
1119,2017 Hyundai Creta 1.4 E PLUS CRDI,"63,228kmDiesel1st Owner","₹ 7,86,899"
1120,2015 Maruti Alto K10 VXI,"90,530kmPetrol1st Owner","₹ 2,95,199"
1121,2012 Maruti Ertiga ZDI,"1,20,093kmDiesel2nd Owner","₹ 3,64,299"

In [69]:
cars24_1.to_csv("car3.csv")

In [70]:
#lets first connect to the web driver
driver3=webdriver.Chrome(r"C://chromedriver.exe")

In [71]:
driver3.get('https://www.cars24.com/')

url='https://www.cars24.com/buy-used-cars-mumbai/?itm_source=Cars24Website&itm_medium=sticky_header'

#lets open the webpage through web driver
driver3.get(url)

In [72]:
price1=[]
km1=[]
model1=[]
location1=[]
date1=[]

In [73]:
cost=driver3.find_elements_by_xpath("//h3[@class='_6KkG6']")
for i in cost:
    title5=i.text
    price1.append(title5)
price1[0:4]

['₹ 2,82,599', '₹ 3,22,699', '₹ 3,21,499', '₹ 3,08,599']

In [74]:
kms=driver3.find_elements_by_xpath("//div[@class='_Ecri']")
for i in kms:
    title=i.text
    km1.append(title)
km1[0:4]

['8,322kmPetrol1st Owner',
 '9,296kmPetrol1st Owner',
 '36,791kmPetrol2nd Owner',
 '13,567kmPetrol3rd Owner']

In [75]:
brand=driver3.find_elements_by_xpath("//h2[@class='_3ENhq']")
for i in brand:
    title1=i.text
    model1.append(title1)
model1[0:4]

['2015 Maruti Alto 800 VXI',
 '2014 Maruti Wagon R Stingray VXI',
 '2011 Hyundai i20 SPORTZ 1.2 O',
 '2012 Honda Brio 1.2 S MT I VTEC']

In [76]:
loc=driver3.find_elements_by_xpath("//p[@class='_1OR7d']")
for i in loc:
    title2=i.text
    location1.append(title2)
location1[0:4]

['Mumbai']

In [77]:
print(len(model1),len(price1),len(km1))

1314 1314 1314

In [78]:
cars24_2=pd.DataFrame({})
cars24_2['model']=model1[0:1314]
cars24_2['km']=km1[0:1314]
cars24_2['cost']=price1[0:1314]

In [79]:
cars24_2

                                 model                       km        cost
0             2015 Maruti Alto 800 VXI   8,322kmPetrol1st Owner  ₹ 2,82,599
1     2014 Maruti Wagon R Stingray VXI   9,296kmPetrol1st Owner  ₹ 3,22,699
2        2011 Hyundai i20 SPORTZ 1.2 O  36,791kmPetrol2nd Owner  ₹ 3,21,499
3      2012 Honda Brio 1.2 S MT I VTEC  13,567kmPetrol3rd Owner  ₹ 3,08,599
4              2011 Maruti Wagon R VXI  26,689kmPetrol1st Owner  ₹ 3,06,999
...                                ...                      ...         ...
1309              2015 Maruti Ciaz ZDI  17,927kmDiesel1st Owner  ₹ 5,98,799
1310       2011 Nissan Micra XV PETROL  48,380kmPetrol2nd Owner  ₹ 1,87,899
1311             2017 Datsun Go Plus T  22,195kmPetrol1st Owner  ₹ 3,29,199
1312             2017 Maruti Dzire ZXI  37,024kmPetrol1st Owner  ₹ 5,99,199
1313      2015 Honda City VX MT PETROL  62,358kmPetrol1st Owner  ₹ 6,17,999

[1314 rows x 3 columns]

In [80]:
cars24_2.to_csv("car4.csv")

In [102]:
#lets first connect to the web driver
driver4=webdriver.Chrome(r"C://chromedriver.exe")

In [103]:
driver4.get('https://www.cars24.com/')

url='https://www.cars24.com/buy-used-cars-mumbai/?itm_source=Cars24Website&itm_medium=sticky_header'

#lets open the webpage through web driver
driver4.get(url)

In [104]:
price1=[]
km1=[]
model1=[]
location1=[]
date1=[]

In [105]:
cost=driver4.find_elements_by_xpath("//h3[@class='_6KkG6']")
for i in cost:
    title5=i.text
    price1.append(title5)
price1[0:4]

['₹ 2,82,599', '₹ 3,22,699', '₹ 3,21,499', '₹ 3,08,599']

In [106]:
kms=driver4.find_elements_by_xpath("//div[@class='_Ecri']")
for i in kms:
    title=i.text
    km1.append(title)
km1[0:4]

['8,322kmPetrol1st Owner',
 '9,296kmPetrol1st Owner',
 '36,791kmPetrol2nd Owner',
 '13,567kmPetrol3rd Owner']

In [107]:
brand=driver4.find_elements_by_xpath("//h2[@class='_3ENhq']")
for i in brand:
    title1=i.text
    model1.append(title1)
model1[0:4]

['2015 Maruti Alto 800 VXI',
 '2014 Maruti Wagon R Stingray VXI',
 '2011 Hyundai i20 SPORTZ 1.2 O',
 '2012 Honda Brio 1.2 S MT I VTEC']

In [108]:
loc=driver4.find_elements_by_xpath("//p[@class='_1OR7d']")
for i in loc:
    title2=i.text
    location1.append(title2)
location1[0:4]

['Mumbai']

In [109]:
print(len(model1),len(price1),len(km1))

1313 1313 1313

In [110]:
cars24_3=pd.DataFrame({})
cars24_3['model']=model1[0:1314]
cars24_3['km']=km1[0:1314]
cars24_3['cost']=price1[0:1314]

In [111]:
cars24_3

                                 model                       km        cost
0             2015 Maruti Alto 800 VXI   8,322kmPetrol1st Owner  ₹ 2,82,599
1     2014 Maruti Wagon R Stingray VXI   9,296kmPetrol1st Owner  ₹ 3,22,699
2        2011 Hyundai i20 SPORTZ 1.2 O  36,791kmPetrol2nd Owner  ₹ 3,21,499
3      2012 Honda Brio 1.2 S MT I VTEC  13,567kmPetrol3rd Owner  ₹ 3,08,599
4              2011 Maruti Wagon R VXI  26,689kmPetrol1st Owner  ₹ 3,06,999
...                                ...                      ...         ...
1308              2015 Maruti Ciaz ZDI  17,927kmDiesel1st Owner  ₹ 5,98,799
1309       2011 Nissan Micra XV PETROL  48,380kmPetrol2nd Owner  ₹ 1,87,899
1310             2017 Datsun Go Plus T  22,195kmPetrol1st Owner  ₹ 3,29,199
1311             2017 Maruti Dzire ZXI  37,024kmPetrol1st Owner  ₹ 5,99,199
1312      2015 Honda City VX MT PETROL  62,358kmPetrol1st Owner  ₹ 6,17,999

[1313 rows x 3 columns]

In [112]:
cars24_3.to_csv("car5.csv")

In [143]:
#lets first connect to the web driver
driver5=webdriver.Chrome(r"C://chromedriver.exe")

In [144]:
driver5.get('https://www.cardekho.com/')

url='https://www.cardekho.com/used-cars+in+bangalore'

#lets open the webpage through web driver
driver5.get(url)

In [145]:
price1=[]
km1=[]
model1=[]
location1=[]
date1=[]

In [146]:
cost=driver5.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']")
for i in cost:
    title5=i.text
    price1.append(title5)
price1[0:4]

['₹ 2.92 Lakh\nFixed Price\nEMI @ ₹ 5,908',
 '₹ 5.31 Lakh\nFixed Price\nEMI @ ₹ 10,743',
 '₹ 6.6 Lakh\nFixed Price\nEMI @ ₹ 13,364',
 '₹ 6.01 Lakh\nFixed Price\nEMI @ ₹ 12,173']

In [147]:
kms=driver5.find_elements_by_xpath("//div[@class='truncate dotlist']")
for i in kms:
    title=i.text
    km1.append(title)
km1[0:4]

['18,778 kmsPetrol',
 '17,223 kmsPetrol',
 '37,709 kmsPetrol',
 '40,531 kmsPetrol']

In [148]:
brand=driver5.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']")
for i in brand:
    title1=i.text
    model1.append(title1)
model1[0:4]

['2014 Maruti Alto 800\nLXI\n18,778 kmsPetrol',
 '2018 Maruti Celerio\nZXI\n17,223 kmsPetrol',
 '2016 Honda Jazz\nV CVT\n37,709 kmsPetrol',
 '2014 Hyundai i20\nAsta 1.2\n40,531 kmsPetrol']

In [149]:
print(len(model1),len(price1),len(km1))

141 141 141

In [151]:
cardekho=pd.DataFrame({})
cardekho['model']=model1[0:141]
cardekho['km']=km1[0:141]
cardekho['cost']=price1[0:141]

In [152]:
cardekho

,model,km,cost
0,"2014 Maruti Alto 800\nLXI\n18,778 kmsPetrol","18,778 kmsPetrol","₹ 2.92 Lakh\nFixed Price\nEMI @ ₹ 5,908"
1,"2018 Maruti Celerio\nZXI\n17,223 kmsPetrol","17,223 kmsPetrol","₹ 5.31 Lakh\nFixed Price\nEMI @ ₹ 10,743"
2,"2016 Honda Jazz\nV CVT\n37,709 kmsPetrol","37,709 kmsPetrol","₹ 6.6 Lakh\nFixed Price\nEMI @ ₹ 13,364"
3,"2014 Hyundai i20\nAsta 1.2\n40,531 kmsPetrol","40,531 kmsPetrol","₹ 6.01 Lakh\nFixed Price\nEMI @ ₹ 12,173"
4,"2017 Volvo S60\nD4 Momentum BSIV\n36,738 kmsDi...","36,738 kmsDiesel","₹ 23.5 Lakh\nEMI @ ₹ 47,583\nBangalore"
...,...,...,...
136,"2019 Maruti Swift\nVXI\n20,000 kmsPetrol","20,000 kmsPetrol","₹ 6.19 Lakh\nEMI @ ₹ 11,037\nBangalore"
137,"2014 Skoda Octavia\nAmbition 2.0 TDI AT\n86,48...","86,480 kmsDiesel","₹ 14.5 Lakh\nEMI @ ₹ 29,360\nBangalore"
138,"2015 Hyundai Xcent\n1.1 CRDi SX\n90,000 kmsDiesel","90,000 kmsDiesel","₹ 2.99 Lakh\nEMI @ ₹ 6,054\nBangalore"
139,"2015 Maruti Celerio\nVXI AT\n17,042 kmsPetrol","17,042 kmsPetrol","₹ 4.39 Lakh\nEMI @ ₹ 8,889\nBangalore"
140,"2010 Hyundai Grand i10\nSportz 1.2\n89,919 kms...","89,919 kmsPetrol",₹ 2.94 Lakh\nBangalore

In [153]:
cardekho.to_csv("car6.csv")

In [154]:
#lets first connect to the web driver
driver6=webdriver.Chrome(r"C://chromedriver.exe")

In [155]:
driver6.get('https://www.cardekho.com/')

url='https://www.cardekho.com/used-cars+in+delhi-ncr'

#lets open the webpage through web driver
driver6.get(url)

In [156]:
price1=[]
km1=[]
model1=[]
location1=[]
date1=[]

In [157]:
cost=driver6.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']")
for i in cost:
    title5=i.text
    price1.append(title5)
price1[0:4]

['₹ 5.64 Lakh\nFixed Price\nEMI @ ₹ 9,105',
 '₹ 5.46 Lakh\nFixed Price\nEMI @ ₹ 11,059',
 '₹ 3.22 Lakh\nFixed Price\nEMI @ ₹ 6,530',
 '₹ 5.22 Lakh\nFixed Price\nEMI @ ₹ 10,559']

In [158]:
kms=driver6.find_elements_by_xpath("//div[@class='truncate dotlist']")
for i in kms:
    title=i.text
    km1.append(title)
km1[0:4]

['9,437 kmsPetrol', '20,267 kmsPetrol', '68,117 kmsDiesel', '21,377 kmsPetrol']

In [159]:
brand=driver6.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']")
for i in brand:
    title1=i.text
    model1.append(title1)
model1[0:4]

['2020 Maruti Baleno\nSigma\n9,437 kmsPetrol',
 '2017 Maruti Baleno\nDelta\n20,267 kmsPetrol',
 '2014 Volkswagen Polo\n1.5 TDI Comfortline\n68,117 kmsDiesel',
 '2018 Maruti Baleno\nSigma\n21,377 kmsPetrol']

In [160]:
print(len(model1),len(price1),len(km1))

465 465 465

In [161]:
cardekho1=pd.DataFrame({})
cardekho1['model']=model1[0:465]
cardekho1['km']=km1[0:465]
cardekho1['cost']=price1[0:465]

In [162]:
cardekho1

,model,km,cost
0,"2020 Maruti Baleno\nSigma\n9,437 kmsPetrol","9,437 kmsPetrol","₹ 5.64 Lakh\nFixed Price\nEMI @ ₹ 9,105"
1,"2017 Maruti Baleno\nDelta\n20,267 kmsPetrol","20,267 kmsPetrol","₹ 5.46 Lakh\nFixed Price\nEMI @ ₹ 11,059"
2,"2014 Volkswagen Polo\n1.5 TDI Comfortline\n68,...","68,117 kmsDiesel","₹ 3.22 Lakh\nFixed Price\nEMI @ ₹ 6,530"
3,"2018 Maruti Baleno\nSigma\n21,377 kmsPetrol","21,377 kmsPetrol","₹ 5.22 Lakh\nFixed Price\nEMI @ ₹ 10,559"
4,"2020 Mercedes-Benz V-Class\nExclusive\n15,000 ...","15,000 kmsDiesel",₹ 85 Lakh\nEMI @ ₹ 1.37 Lakh\nNew Delhi
...,...,...,...
460,2018 Maruti Vitara Brezza\nZDi Plus AMT Dual T...,"44,000 kmsDiesel","₹ 9 Lakh\nEMI @ ₹ 18,223\nNew Delhi"
461,2012 Mercedes-Benz E-Class\nE 220 CDI Avantgar...,"38,000 kmsDiesel",₹ 10.5 Lakh\nNew Delhi
462,"2012 Nissan Micra\nDiesel XV\n65,000 kmsDiesel","65,000 kmsDiesel",₹ 2.5 Lakh\nGhaziabad
463,"2007 Maruti SX4\nZxi BSIII\n1,09,586 kmsPetrol","1,09,586 kmsPetrol",₹ 1.55 Lakh\nNew Delhi
464,"2017 Audi Q3\n30 TFSI Premium FWD\n39,600 kmsP...","39,600 kmsPetrol","₹ 24.8 Lakh\nEMI @ ₹ 50,216\nGurgaon"

In [163]:
cardekho1.to_csv("car7.csv")